@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  /*fonts*/
  --font-default: "Rubik", sans-serif;

  /*light and default theme*/
  --color-toggle: #a729f5;
  --color-html-fill: #fff5ed;
  --color-css-fill: #e0fdef;
  --color-js-fill: #ebf0ff;
  --color-accessibility-fill: #f6e7ff;

  /*colors which will switch to dark*/
  --color-background: #f4f6fa;
  --color-div-fill: #fff;
  --color-tag-line: #626c7f;
  --color-text-default: #313e51;
}

html.dark {
  --color-background: #313e51;
  --color-div-fill: #3b4d66;
  --color-tag-line: #abc1e1;
  --color-text-default: #fff;
}

body {
  background-image: url("/src/assets/img/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

html.dark body {
  background-image: url("/src/assets/img/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    background-image: url("/src/assets/img/pattern-background-tablet-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  html.dark body {
    background-image: url("/src/assets/img/pattern-background-tablet-dark.svg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/src/assets/img/pattern-background-desktop-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  html.dark body {
    background-image: url("/src/assets/img/pattern-background-desktop-dark.svg");
  }
}
